/env
/.venv

__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
*.log
instance
.env
*.sqlite3
/tests/__pycache__/
/coverage/
htmlcov/
.mypy_cache/
.pytest_cache/

*.pth

# Uploaded files
/uploads/
!uploads/.gitkeep

# Firebase credentials
firebase-service-account.json
*-firebase-adminsdk-*.json

# Documentation
*.md
!README.md